@use 'theme';

body {
  background-color: theme.$cor-fundo-pagina;
  color: theme.$cor-texto-principal;
  font-family: theme.$fonte-principal;
  font-size: theme.$tamanho-fonte-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: theme.$fonte-principal;
  font-weight: theme.$peso-fonte-bold;
  color: theme.$cor-texto-principal;
}

a {
  color: theme.$cor-primaria;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}