@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$cor-primaria:        #5A875A;
$cor-secundaria:      #1F2328;
$cor-sucesso:         #89AB89;
$cor-sucesso-borda:   #4F7A4F;
$cor-sucesso-texto:   #FFFFFF;
$cor-perigo:          #C16C5A;
$cor-perigo-borda:    #A54838;
$cor-perigo-texto:    #3B1F1A;
$cor-aviso:           #D7C589;
$cor-aviso-borda:     #AA9755;
$cor-aviso-texto:     #3D331F;
$cor-branca:          #FFFFFF;
$cor-texto-principal: #35382E;
$cor-fundo-pagina:    #C2D6C2;

$cor-fundo-menu-lateral: #5C755C;
$cor-secundaria-menu-lateral: #516751;

$fonte-principal:     'Inter', sans-serif;
$tamanho-fonte-base:  16px;
$peso-fonte-bold:     700;

$raio-borda-global:   6px;
$cor-sombra-suave:    rgba(0, 0, 0, 0.05);