@import 'theme';

@import 'uikit/dist/css/uikit.min.css';

@import 'base';

.uk-button-primary {
  background-color: $cor-primaria;
  border: none;
  border-radius: $raio-borda-global;

  &:hover {
    background-color: darken($cor-primaria, 5%);
  }
}

.uk-card-default {
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  border-radius: $raio-borda-global;
}

.uk-alert-success {
  background-color: lighten($cor-sucesso, 55%);
  color: darken($cor-sucesso, 10%);
  border-left: 5px solid $cor-sucesso;
}

.uk-navbar-container.app-header {
  background-color: $cor-branca;
  box-shadow: 0 2px 10px $cor-sombra-suave;
}

.app-header .uk-navbar-right .uk-navbar-toggle,
.app-header .uk-navbar-right .uk-navbar-item {
  color: $cor-texto-principal;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darken($cor-texto-principal, 25%);
  }
}

.app-header .uk-navbar-right .uk-badge {
  background-color: $cor-primaria;
  color: $cor-branca;

  box-shadow: 0 0 0 1px $cor-texto-principal;
}

.uk-offcanvas-bar {
  // Define o fundo escuro para o menu
  background-color: $cor-fundo-menu-lateral;
  padding: 20px 0; // Ajusta o espaçamento interno
}


// 2. Os Links de Navegação
// -----------------------------------------------------------------------
.uk-offcanvas-bar .uk-nav-default {

  // Estilo para cada item da lista
  li a {
    color: lighten($cor-branca, 10%); // Cor do texto um pouco off-white
    font-size: 1.1rem;
    padding: 12px 20px;
    border-left: 3px solid transparent; // Borda transparente para o efeito hover/active
    transition: all 0.2s ease-in-out;
  }

  // Efeito ao passar o mouse
  li a:hover {
    background-color: $cor-secundaria-menu-lateral; // Fundo fica um pouco mais claro
    color: $cor-branca; // Texto fica branco puro
  }

  // Estilo para o item ATIVO (quando o usuário está na página)
  // O UIkit adiciona a classe .uk-active ao <li>
  li.uk-active > a {
    background-color: lighten($cor-secundaria, 10%);
    color: $cor-branca;
    font-weight: $peso-fonte-bold; // Deixa o texto em negrito
    border-left-color: $cor-primaria; // Mostra uma borda azul para indicar a página ativa
  }
}