@use 'sass:color';
@use 'theme';
@use 'base';

@import 'uikit/dist/css/uikit.min.css';

.uk-button-primary {
  background-color: theme.$cor-primaria;
  border: none;
  border-radius: theme.$raio-borda-global;

  &:hover {
    background-color: color.adjust(theme.$cor-primaria, $lightness: -5%);
  }
}

.uk-card-default {
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  border-radius: theme.$raio-borda-global;
}

.uk-alert-success {
  background-color: color.adjust(theme.$cor-sucesso, $lightness: 55%);
  color: color.adjust(theme.$cor-sucesso, $lightness: -10%);
  border-left: 5px solid theme.$cor-sucesso;
}

.uk-navbar-container.app-header {
  background-color: theme.$cor-branca;
  box-shadow: 0 2px 10px theme.$cor-sombra-suave;
}

.app-header .uk-navbar-right .uk-navbar-toggle,
.app-header .uk-navbar-right .uk-navbar-item {
  color: theme.$cor-texto-principal;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: color.adjust(theme.$cor-texto-principal, $lightness: -25%);
  }
}

.app-header .uk-navbar-right .uk-badge {
  background-color: theme.$cor-primaria;
  color: theme.$cor-branca;
  box-shadow: 0 0 0 1px theme.$cor-texto-principal;
}

.uk-offcanvas-bar {
  background-color: theme.$cor-fundo-menu-lateral;
  padding: 20px 0;
}

.uk-offcanvas-bar .uk-nav-default {
  li a {
    color: color.adjust(theme.$cor-branca, $lightness: 10%);
    font-size: 1.1rem;
    padding: 12px 20px;
    border-left: 3px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  li a:hover {
    background-color: theme.$cor-secundaria-menu-lateral;
    color: theme.$cor-branca;
  }

  li.uk-active > a {

    background-color: color.adjust(theme.$cor-secundaria, $lightness: 10%);
    color: theme.$cor-branca;
    font-weight: theme.$peso-fonte-bold;
    border-left-color: theme.$cor-primaria;
  }
}